<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <h1 class="logo">LOGO</h1>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <button class="LoginBtn">Login</button>
        </nav>
    </header>

    <div class="wrapper">
        <div class="formBox">
            <h2>Login</h2>
            <form action="/login" method="post">
                <div class="row">
                    <% if(messages.error){ %>
                        <div class="alert alert-danger">
                            <strong><%= messages.error %></strong>
                        </div>
                    <% } %>
                </div>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="rememberMe">
                    <label><input type="checkbox">Remember Me</label>
                    <a href="#">Forget Password?</a>
                </div>
                <button type="submit" class="submit-btn">Login</button>
                <div class="register">
                    <p>Don't have an account?<a href="/register" class="register-link">Register</a></p>
                </div>
            </form>
        </div>

        
    </div>
    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>